/* Custom CSS File 
Ryan Jameson
COMP3025
Jan 19th, 2017
*/
.custom-single-btn {
    width: 45px !important;
    height: 35px !important;
}

#portrait-calc div.ui-input-text { 
    width: 310px !important;
    font: bolder 150% arial, sans-serif !important;
}

.ui-btn-b {
    background: blue !important;
}
.ui-btn-a{
    background: orange !important;
}