/* Custom CSS File */
.double {
    width: 123px !important;
    height: 35px !important;
}
.single {
    width: 45px !important;
    height: 35px !important;
}
.back {
    width: 45px !important;
    height: 6px !important;
}
#Equals{
    width: 122px !important;
}